@import 'colors';

.faq {
  color: $primary-grey;
}

.faq__box {
  background-image: url('../assets/images/free001.svg');
  background-color: #e8e8e8;
  padding: 4rem;
}

.faq__corner-img {
  margin-top: -24px;
}

.faq__question {
  font-size: 1.6rem;
}

.faq__answer {
  font-family: 'Maison Neue Mono', monospace;
}
