.hero {
  display: grid;
  align-items: center;
  height: 32rem;
  margin-bottom: 8rem;
}

.hero__header {
  width: 66%;
  font-size: 3rem;
  font-weight: normal;
}

.hero__subheader {
  font-family: 'Maison Neue Mono';
}

@media only screen and (max-width: 600px) {
  .hero__header {
    width: 100%;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .hero__header {
    width: 100%;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .hero__header {
    width: 80%;
    font-size: 2.4rem;
  }

  .hero__create-session {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .hero__header {
    width: 66%;
    font-size: 3rem;
  }
}
