.landing {
  background: radial-gradient(rgba(45, 45, 45, 0.9), rgba(28, 28, 28, 0.97)),
    url('../assets/images/wave_texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.landing__hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 2.5rem;
  font-weight: normal;
}

.landing__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing__actions-right-action {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  margin-bottom: 32px;
}

.landing__actions-img {
  max-width: 256px;
}
