.navbar {
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navbar__logo {
  align-self: center;
  justify-self: start;
}

.navbar__actions {
  align-self: center;
  justify-self: end;
}

.navbar__action {
  color: inherit;
  text-decoration: none;
  font-family: 'Maison Neue Mono', monospace;
  font-size: 0.9rem;
}
.navbar__action:not(:last-child) {
  padding-right: 24px;
}
