.rundown {
  margin-bottom: 8rem;
}

.rundown__header {
  //Do stuff
}

.rundown__step-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.rundown__step {
  height: 16rem;
}

.rundown__step_img {
  padding-top: 2rem;
}

.rundown__step_header {
  font-size: 2.2rem;
  font-style: italic;
  margin-top: 0.8rem;
}

.rundown__step_details {
  font-family: 'Maison Neue Mono', monospace;
  font-size: 0.9rem;
}

#step01 {
  background-image: url('../assets/images/01.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#step02 {
  background-image: url('../assets/images/02.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#step03 {
  background-image: url('../assets/images/03.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 600px) {
  .rundown__step-container {
    grid-template-columns: 1fr;
  }

  .rundown__step {
    padding: 24px;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  .rundown__step-container {
    grid-template-columns: 1fr;
  }

  .rundown__step {
    padding: 16px;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 788px) {
  .rundown__step-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .rundown__step-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .rundown__step_header {
    font-size: 1.8rem;
  }

  .rundown__step_details {
    font-size: 0.9rem;
  }
}
