.splash {
  background-color: #f5f5f5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.splash__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.splash__left {
  align-content: center;
}

.splash__right {
  display: grid;
  justify-self: center;
  align-items: center;
}

.splash__img {
  max-width: 360px;
}

.rundown {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.rundown__content {
}

.rundown__content_reasons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.rundown__content_reason {
  border: 0.5px solid #999;
  border-radius: 4px;
  padding: 2rem;
  img {
    padding-bottom: 8px;
  }
  h4 {
    margin: 0;
  }
}

.action {
  background-color: #222;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.action__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;

  div {
    align-self: center;
  }
}
