.info {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  position: relative;
}

.info__left {
  background-color: #fef4f7;
  height: 12rem;
  grid-column: 1 / 12;
  grid-row: 1;
}

.info__right {
  background-color: pink;
  grid-column: 6 / -1;
  grid-row: 1;
  margin-top: 64px;
}

.info__right_container {
  padding: 64px;
}
